#### Python na Prática - Fernando Feltrin

In [30]:
%%HTML
<style>
td,th {
font-size: 15px
}
</style>

1 - Crie três variáveis com três tipos de dados diferentes, respeitando sua sintaxe:

In [2]:
# Usando "Type annotation"
nome: str = "Fernando"
ano: int = 1997
valor: float = 19.99

2 - Crie um comentário de no máximo uma linha:

In [27]:
# Charles Duarte

3 - Crie um comentário de mais de uma linha:

In [6]:
"""Apenas explorando a possibilidade de criar um  comentário composto de mais de uma linha, que  permite uma explicação mais elaborada sobre o  código em questão."""

'Apenas explorando a possibilidade de criar um  comentário composto de mais de uma linha, que  permite uma explicação mais elaborada sobre o  código em questão.'

4 - Escreva um programa que mostra em tela a mensagem: Olá Mundo!!!

In [7]:
print("Olá Mundo!")

Olá Mundo!

In [8]:
# Basic example with type annotations
def greet(name: str) -> None:
    print("Hello, " + name)


greet("World")  # Output: Hello, World
# greet(5)  # This would raise a TypeError because the argument should be a string

Hello, World

5 - Crie uma variável nome e atribua para a mesma um nome digitado pelo usuário:

In [28]:
nome: str = input("Por favor, digite o seu nome: ")
print(nome)

Charles

6 - Exiba em tela o valor e o tipo de dado da variável num1: Sendo num1 = 1987.

In [1]:
num1: int = 1987
print(num1)
print(type(num1))

1987
<class 'int'>

7 - Peça para que o usuário digite um número, em seguida exiba em tela o número digitado.

In [2]:
num: int = input("Digite um número:")
print(f"O número digitado é:{num}")

O número digitado é:127

8 - Peça para que o usuário digite um número, em seguida o converta para float, exibindo em tela tanto o número em si quanto seu tipo de dado.

In [6]:
num: int = input("Digite um número:")
num = float(num)
print(num)
print(type(num))

37.0
<class 'float'>

9 - Crie uma lista com 5 nomes de pessoas:

In [9]:
from typing import List

nomes: List[str] = ["Ana", "Carlos", "Daiane", "Fernando", "Maria"]
print(nomes)

['Ana', 'Carlos', 'Daiane', 'Fernando', 'Maria']

10 - Mostre o tamanho da lista nomes / o número de elementos da lista nomes: Mostre separadamente apenas o terceiro elemento dessa lista:

In [10]:
nomes: List[str] = ["Ana", "Carlos", "Daiane", "Fernando", "Maria"]
print(len(nomes))
print(nomes[3])

5
Fernando

11 - Some os valores das variáveis num1 e num2: Sendo num1 = 52 e num2 = 106. Por fim exiba em tela o resultado da soma.

In [11]:
num1: int = 52
num2: int = 106
print(num1 + num2)

158

12 - Some os valores das variáveis num1 e num2, atribuindo o resultado da soma a uma nova variável homônima. Exiba em tela o conteúdo dessa variável.

In [12]:
num1: int = 52
num2: int = 106
soma = num1 + num2
print(soma)

158

13 - Subtraia os valores de num1 e num2:

In [13]:
num1: int = 52
num2: int = 106
print(num1 - num2)
subtracao = num1 - num2
print(subtracao)

-54
-54

14 - Realize as operações de multiplicação e de divisão entre os valores das variáveis num1 e num2:

In [14]:
num1: int = 52
num2: int = 106
print(num1 * num2)
print(num1 / num2)

5512
0.49056603773584906

15 - Eleve o valor de num1 a oitava potência, sendo num1 = 51:

In [15]:
num1: int = 51
print(num1**8)

45767944570401

16 - Escreva um programa que pede que o usuário dê entrada em dois valores, em seguida, exiba em tela o resultado da soma, subtração, multiplicação e divisão desses números:

In [22]:
num1: int = int(input("Digite o primeiro número:"))
num2: int = int(input("Digite o segundo número:"))
print(f"A soma de {num1} com {num2} é: {num1 + num2}")
print(f"A subtração de {num1} por {num2} é: {num1 - num2}")
print(f"A multiplicação de {num1} por {num2} é:{num1 * num2}")
print(f"A divisão de {num1} por {num2} é:{num1 / num2}")

A soma de 30 com 20 é: 50
A subtração de 30 por 20 é: 10
A multiplicação de 30 por 20 é:600
A divisão de 30 por 20 é:1.5

17 - Dadas duas variáveis num1 e num2 com valores 100 e 89, respectivamente, verifique se o valor de num1 é maior que o de num2:

In [23]:
num1: int = 100
num2: int = 89
print(num1 > num2)

True

18 - Verifique se os valores de num1 e de num2 são iguais:

In [24]:
num1: int = 100
num2: int = 89
print(num1 == num2)

False

19 - Verifique se os valores de num1 e num2 são diferentes:

In [25]:
#
num1: int = 100
num2: int = 89
print(num1 != num2)

True

20 - Verifique se o valor de num1 é igual ou menor que 100:

In [26]:
num1: int = 100
print(num1 <= 100)

True

Fim do step 1